body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color2);
  background-color: var(--color5);
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color1: #F4E04D;
  --color2: #042A2B;
  --color3: #54F2F2;
  --color4: #5EB1BF;
  --color5: #FCFCFC;    
}

h1, h2, h3, h4 {
  color: var(--color4);
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
}

/* header */

header {
  background-color: var(--color2);
  position: sticky;
  top: 0;
  z-index: 1;
}

/* nav */

li {
  list-style: none;
}

nav  li {
  cursor: pointer;
  color: var(--color4);
}

.navActive {
  color: var(--color3);
}

/* portfolio */

.project-container a {
  text-decoration: none;
}

.projectcard {
  background-size: cover;
  opacity: 0.5;
  height: 200px;
  border: 2px solid var(--color3);
  color: var(--color2);
  cursor: pointer;
  transition: opacity 0.5s ease, scale 0.5s ease;
}

.projectcard:hover {
  opacity: 1;
  transform: scale(1.1);
}

.project1 {
  background-image: url("./assets/cards/card1.png");
}

.project2 {
  background-image: url("./assets//cards/card2.png");
}

.project3 {
  background-image: url("./assets//cards/card3.png");
}

.project4 {
  background-image: url("./assets//cards/card4.png");
}

.project5 {
  background-image: url("./assets//cards/card5.png");
}

.project6 {
  background-image: url("./assets//cards/card6.png");
  background-position: center;
}

/* about */

.aboutContainer {
  margin: 0 auto;
}

/* contact */

form {
  width: 50%;
  margin: 0 auto;
}

.contact-button-wrapper{
  margin: 0 auto;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--color2);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--color4);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

/* resume */

.resume a {
  text-decoration: none;
  color: var(--color4);
}

/* footer */

footer a {
  text-decoration: none;
  color: var(--color4);
}

/* modal */

.modalBackground {
	background: rgba(245, 240, 240, 0.815);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--color5);
	border-radius: 5px;
	max-width: 100%;
	margin: 20px auto;
	padding: 25px;
	width: 960px;
}

.modalContainer p {
  text-indent: 10%;
}

.modalContainer a {
  text-decoration: none;
  color: var(--color4);
  font-weight: bolder;
}

.modalTitle {
	margin-bottom: 25px;
}

.modalImage {
  object-fit: scale-down;
  max-height: 500px;
  width: 100%;
}

/* About */

.aboutContainer p {
  text-indent: 5%;
}